#basic files list
/*
!modpack/
modpack/*
!modpack/overrides/
modpack/overrides/*
!modpack/manifest.json
!modpack/modlist.html
!README.md
!.github/
!.gitignore
!LICENSE

#main files list
!modpack/overrides/config/
!modpack/overrides/kubejs/
!modpack/overrides/scripts/

#blacklist
config/openloader/.cache

#whitelist
